.spielfeld {  
    position: relative;

    .question-title {
        padding-top: 2em;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.6em;
        color: #e1e1e1;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    @media screen and (max-width: 700px) {
        .question-title {
            font-size: 1.1em;
        }   
}

    .color-card-container {
        margin-top: 6rem;
        margin-bottom: 6rem;
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        .color-card {
            width: 12rem;
            height: 12rem;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 4px;
            overflow: hidden;
            transition: box-shadow 0.4s ease;
            transition: transform 0.3s ease;
        }

        @media screen and (max-width: 700px) {
                .color-card {
                    width: 8rem;
                    height: 8rem;
                }   
        }

        @media screen and (max-width: 400px) {
            .color-card {
                width: 6rem;
                height: 6rem;
            }   
    }

        .color-card:hover {
            box-shadow: rgba(0, 0, 0, 0.154) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            transform: scale(1.02);
        }
        
        .selected {
            outline: 6px solid rgb(255, 255, 255);
            border: 2px solid rgb(45, 58, 77);
            box-sizing: border-box;
          }
    }

    .button-container {
        width: 100vw;
        margin-bottom: 2em;
        display: flex;
        justify-content: center;
    
        button {
            width: 194px;
            height: 52px;
            text-align: center;
            background-color: rgb(71, 86, 109);  
            color: #e1e1e1;       
            font-size: 1.2em;
            border: none;
            border-radius: 35px;
            box-shadow: rgba(0, 0, 0, 0.123) 0px 2px 4px;
        }
    
        button:hover {
            opacity: 0.87;
            color: white;
            cursor: pointer;
        }

        button:active {
            background-color: rgb(89, 105, 130);
            color: white;
            cursor: pointer;
        }
    }

    .question-counter {
        color: #e1e1e1;
        font-size: 1.2em;
        position: absolute;
        right: 2em;
        bottom: 1em;
    }

    @media screen and (max-width: 400px) {
        .question-counter{
            font-size: 1em;
        } 
    }
}
